body {
    font-family: 'Roboto Mono', monospace;
    color: var(--text-main);
    background-color: var(--bg-dark);
}

.cv {
    max-width: 210mm;
    margin: 0 auto;
    padding: 20mm;
    color: #111;
}

.cv-heading {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 12px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
}

.cv-item h3 {
    font-weight: 600;
    font-size: 13px;
}

.cv-item p,
.cv-item li {
    font-size: 12px;
    line-height: 1.4;
}

.cv-item .tl-desc {
    color: darkslategray;
}

@media print {
    @page {
        margin: 20mm;

        @bottom-right {
            content: "Matthew Law - matthewclaw.github.io/profile - Page " counter(page) " of " counter(pages);
            font-size: 10px;
            color: #666;
        }
    }

    .no-print {
        display: none;
    }

    .cv {
        padding: 5mm;
    }

    .no-break {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    body {
        padding: 0;
        margin: 0;
        counter-reset: page;
    }
}